<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tp.90min"
        version   = "2.1.0">

  <name>90 Minutes</name>
  <description>
    90 minutes 
  </description>
  <author href="" email="pradeep.pilot@gmail.com">
    SelvaRam
  </author>


 <access origin="*" />
 
  <preference name="target-device"    value="universal" />
  <preference name="fullscreen"       value="false" />  
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="SplashScreenDelay" value="5000" />
<gap:platform name="android" />

</widget>
